<div style="text-align: center; margin-bottom: 20px;"><img id="mainLogo" src="{{ getImagePathById(core_options.siteLogo) }}" alt="{{ getImageAltById(core_options.siteLogo) }}"></div>
<div>
    {{ result|raw }}
</div>
